<launch>
    <arg name="uav_id" default="1"/>

    <group ns="/uav$(arg uav_id)">
        <arg name="robot_name"   default="open_manipulator"/>
        <arg name="end_effector" default="gripper"/>

        <node name="teleop_keyboard_uav$(arg uav_id)" pkg="open_manipulator_teleop" type="open_manipulator_teleop_keyboard" output="screen">
        <remap from="kinematics_pose" to="$(arg end_effector)/kinematics_pose"/>
        <param name="end_effector_name" value="$(arg end_effector)"/>
        </node>
    </group>
</launch>